openapi: 3.0.0
info:
  title: CSV to JSON API
  version: 1.0.0
  description: An API to list CSV files in a Google Drive folder and convert them to JSON.
servers:
  - url: https://script.google.com/macros/s/AKfycbxjQAp6rtSCUTz4T5J96_-zCs9Vrae-7uhZXY7ZIukOZP5fs_HIf44aOAfcN3XfPkis
paths:
  /exec:
    get:
      summary: Get all CSV content as JSON
      operationId: getCsvData
      parameters:
        - name: f
          in: query
          schema:
            type: string
            enum: [preCacheAll]
          description: Function to execute
        - name: id_token
          in: query
          schema:
            type: string
          description: Google ID Token for authentication
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      mfcf:
                        type: array
                        items:
                          $ref: '#/components/schemas/MfcfEntry'
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        additionalProperties: true
                    description: All CSV contents keyed by filename and XML data under mfcf.
                  - type: object
                    properties:
                      status:
                        type: boolean
                    description: Status (when other parameters are provided).
components:
  schemas:
    MfcfEntry:
      type: object
      properties:
        date:
          type: string
          description: Transaction date in YYYY-MM-DD format.
        amount:
          type: integer
          description: Transaction amount.
        currency:
          type: string
          description: Currency code (e.g., JPY).
        name:
          type: string
          description: Transaction name.
        category:
          type: string
          description: Transaction category.
        is_transfer:
          type: boolean
          description: Whether the transaction is a transfer.
